@tailwind base;
@tailwind components;
@tailwind utilities;


/* .footer-gradient {
  background-image: url("/footer-gradient.png");
  background-repeat: no-repeat, repeat;
  background-color: transparent;
} */